#lovable-badge {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 141px;
  padding: 5px 13px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 1000000;
  text-transform: none !important;
  font-feature-settings: normal !important;
  font-weight: 400 !important;
}

.lovable-badge__label {
  color: #a1a1aa;
}

#lovable-badge-close {
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #a1a1aa;
  background: transparent;
  border: 0;
  padding: 0;
  line-height: 1;
}

#mask0_19703_15608 {
  mask-type: alpha;
}
